@using IdentityServer.ViewModels

@model LoginViewModel

<div class="login-page">
    <div class="description">

    </div>
    <main class="main-form">
        <h1 class="login-title">ICar</h1>
        <div class="container login-container">
            <form method="post">
                <input type="hidden" asp-for="RedirectUri" />
                <input type="hidden" asp-for="State" />
                <div class="form-group">
                    <label asp-for="Email">Email</label>
                    <input asp-for="Email" class="form-control" id="email-input" type="email" required />
                </div>
                <div class="form-group">
                    <label asp-for="Password">Password</label>
                    <input asp-for="Password" class="form-control" id="password-input" type="password" required />
                </div>
                <button class="btn-danger float-right" type="submit">Sign in</button>
            </form>
        </div>
            <a href="https://localhost:5002/auth/register" class="form-link">Don't you have an account yet?</a>
    </main>
</div>