div.page {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 100vh;
}

h1.logo {
    text-align: center;
    color: var(--white);
    font-family: 'Satisfy', cursive;
    font-size: 72px;
    margin-top: 7%;
}

div.welcome {
    height: 100%;
    width: 100%;
    background-color: var(--black);
}

h2.register-title {
    color: var(--white);
    margin-top: 6%;
}

div.register {
    background-color: var(--red);
    height: 100%;
    width: 100%;
    padding: 4% 9%;
}

form.register-form {
    background-color: #EFEFEF;
    border-radius: 7px;
    padding: 2%;
    width: 100%;
}

a.form-link {
    display: block;
    text-align: center;
    color: white;
}
