body {
    background-color: var(--red);
}

div.register-container {
    background-color: white;
    padding: 2%;
    border-radius: 17px;
    width: 65%;
}

h1.register-title {
    color: white;
    font-family: 'Satisfy', cursive;
    text-align: center;
    font-size: 70px;
}

h3.form-title{
    font-family: 'Satisfy', cursive;
    text-align: center;
    font-size: 32px;
}